@keyframes effectSpin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

body {
	--circle-diameter: 56vw;
}

@keyframes effectOrbit {
	0% {
		transform: rotate(0deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(0deg);
	}

	25% {
		transform: rotate(90deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-90deg);
	}

	50% {
		transform: rotate(180deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-180deg);
	}

	75% {
		transform: rotate(270deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-270deg);
	}

	100% {
		transform: rotate(360deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(-360deg);
	}
}

@keyframes effectOrbitScale {
	0% {
		transform: scale(0.5);
	}

	25% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	75% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.5);
	}
}

@keyframes effectScaleAnimation {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}

	50% {
		transform: translate(-50%, -50%) scale(1.04);
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -50%) scale(1.08);
		opacity: 0;
	}
}

@keyframes effectRotateAnimation {
	0% {
		transform: translateX(-50%) rotate(0deg);
	}

	100% {
		transform: translateX(-50%) rotate(360deg);
	}
}

.bt-orbit-wrap {
	position: relative;
	width: var(--circle-diameter);
	height: var(--circle-diameter);
	border: 1px solid #eacee8;
	border-radius: 100%;
	transform: rotate(180deg);

	.bt-orbit {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;
		margin: -10px 0 0 -10px;
		transform: rotate(0deg) translateX(-10px) translateY(calc(var(--circle-diameter) / 2)) rotate(0deg);

		span {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 100px;
		}

		&.red {
			animation: effectOrbit 10s linear infinite;

			span {
				background: $color-accent;
				animation: effectOrbitScale 10s linear infinite;
			}
		}

		&.blue {
			animation: effectOrbit 12s linear infinite;

			span {
				background: #00b3d3;
				animation: effectOrbitScale 12s linear infinite;
			}
		}

		&.yellow {
			animation: effectOrbit 15s linear infinite;

			span {
				background: #ffd800;
				animation: effectOrbitScale 15s linear infinite;
			}
		}

		&.purple {
			animation: effectOrbit 18s linear infinite;

			span {
				background: #6600ff;
				animation: effectOrbitScale 18s linear infinite;
			}
		}

		&.green {
			animation: effectOrbit 20s linear infinite;

			span {
				background: #00ff78;
				animation: effectOrbitScale 20s linear infinite;
			}
		}
	}
}

.bt-elwg-orbit-circle {
	display: none;
}

.bt-orbit-enable {
	.bt-elwg-orbit-circle {
		display: block;
	}

	.bt-site-main {
		position: relative;
		overflow: hidden;
		z-index: 1;

		.bt-orbit-effect {
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
			transform: translate(30%, -35%);
		}
	}
}

body {
	--pattern-diameter: 100vw;
}

.bt-bg-pattern-effect {
	position: relative;
	width: var(--pattern-diameter);
	height: var(--pattern-diameter);
	background-color: transparent;
	background-image: url("../images/plus.svg");
	background-position: center;
	background-repeat: repeat;
	background-size: 40px;
	pointer-events: none;
	opacity: 0.1;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		background-image: radial-gradient(circle, transparent 0%, #fff 70%);
	}
}

.bt-elwg-pattern-background {
	display: none;
}

.bt-bg-pattern-enable {
	.bt-elwg-pattern-background {
		display: block;
	}

	.bt-site-main {
		position: relative;
		overflow: hidden;
		z-index: 1;

		.bt-bg-pattern-effect {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: -1;
			transform: translate(-40%, -50%);
		}
	}
}

@keyframes effectBuble {
	from {
		opacity: 0.15;
	}

	25% {
		opacity: 0.5;
		transform: scale3d(3, 3, 4);
	}

	50% {
		opacity: 0.75;
	}

	75% {
		opacity: 1;
	}

	to {
		opacity: 0.15;
	}
}

.bt-bg-buble-effect {
	position: relative;
	overflow: hidden;
	background: #f7f7f7;

	.bt-bubles-beblow,
	.bt-bubles-above {
		display: flex;
		flex-wrap: wrap;
		gap: 150px;
		opacity: 0.5;
	}

	.bt-bubles-beblow {
		margin: -25px 0 0 -25px;
	}

	.bt-bubles-above {
		position: absolute;
		top: 125px;
		left: 100px;
		width: 100%;
		z-index: 1;
	}

	.buble {
		display: block;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: #f7f7f7;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
		animation: effectBuble infinite;

		&:nth-child(1) {
			animation-duration: 8s;
		}

		&:nth-child(2) {
			animation-duration: 22s;
		}

		&:nth-child(3) {
			animation-duration: 9s;
		}

		&:nth-child(4) {
			animation-duration: 6s;
		}

		&:nth-child(5) {
			animation-duration: 8s;
		}

		&:nth-child(6) {
			animation-duration: 10s;
		}

		&:nth-child(7) {
			animation-duration: 15s;
		}

		&:nth-child(8) {
			animation-duration: 13s;
		}

		&:nth-child(8) {
			animation-duration: 8s;
		}

		&:nth-child(9) {
			animation-duration: 21s;
		}

		&:nth-child(10) {
			animation-duration: 8s;
		}

		&:nth-child(11) {
			animation-duration: 6s;
		}

		&:nth-child(12) {
			animation-duration: 7s;
		}

		&:nth-child(13) {
			animation-duration: 10s;
		}

		&:nth-child(14) {
			animation-duration: 20s;
		}

		&:nth-child(15) {
			animation-duration: 12s;
		}

		&:nth-child(16) {
			animation-duration: 20s;
		}

		&:nth-child(17) {
			animation-duration: 16s;
		}

		&:nth-child(18) {
			animation-duration: 6s;
		}

		&:nth-child(19) {
			animation-duration: 8s;
		}

		&:nth-child(20) {
			animation-duration: 10s;
		}

		&:nth-child(21) {
			animation-duration: 15s;
		}

		&:nth-child(22) {
			animation-duration: 6s;
		}

		&:nth-child(23) {
			animation-duration: 19s;
		}

		&:nth-child(24) {
			animation-duration: 7s;
		}

		&:nth-child(25) {
			animation-duration: 6s;
		}

		&:nth-child(26) {
			animation-duration: 10s;
		}

		&:nth-child(27) {
			animation-duration: 14s;
		}

		&:nth-child(28) {
			animation-duration: 18s;
		}

		&:nth-child(29) {
			animation-duration: 15s;
		}

		&:nth-child(30) {
			animation-duration: 8s;
		}

		&:nth-child(31) {
			animation-duration: 21s;
		}

		&:nth-child(32) {
			animation-duration: 8s;
		}

		&:nth-child(33) {
			animation-duration: 6s;
		}

		&:nth-child(34) {
			animation-duration: 7s;
		}

		&:nth-child(35) {
			animation-duration: 15s;
		}

		&:nth-child(36) {
			animation-duration: 11s;
		}

		&:nth-child(37) {
			animation-duration: 17s;
		}

		&:nth-child(38) {
			animation-duration: 8s;
		}

		&:nth-child(39) {
			animation-duration: 6s;
		}

		&:nth-child(40) {
			animation-duration: 10s;
		}
	}
}

.bt-elwg-buble-background {
	display: none;
}

.bt-bg-buble-enable {
	.bt-elwg-buble-background {
		display: block;
	}

	.bt-social-mcn-ss {
		position: relative;
		overflow: hidden;
		z-index: 1;

		&:before {
			display: none;
		}

		.bt-bg-buble-effect {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			.buble {
				background: -webkit-radial-gradient(center bottom, ellipse cover, #ddd 0%, #fff 100%);
			}
		}
	}
}

@keyframes effectBgScroll {
	from {
		background-position: center center;
	}

	25% {
		background-position: center 75%;
	}

	75% {
		background-position: center 25%;
	}

	to {
		background-position: center center;
	}
}

@keyframes effectBgScrollHorizontal {
	from {
		background-position: center center;
	}

	25% {
		background-position: 75% center;
	}

	75% {
		background-position: 25% center;
	}

	to {
		background-position: center center;
	}
}

.bt-bg-scroll-enable {
	.bt-bg-scroll-effect,
	.bt-site-titlebar {
		animation: effectBgScroll 70s infinite;
	}

	.bt-bg-scroll-horizontal-effect {
		@media (min-width: 1025px) {
			animation: effectBgScrollHorizontal 50s infinite;
		}
	}
}

@keyframes effectImageZoom {
	from {
		transform: sscale(1);
	}

	50% {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}

.bt-img-zoom-enable {
	.bt-image-zoom-effect {
		> .elementor-widget-container {
			overflow: hidden;
		}

		img {
			@media (min-width: $break-lg) {
				animation: effectImageZoom 50s infinite;
				transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
			}
		}
	}
}

.bt-img-zoom-enable {
	.bt-image-effect {
		.bt-post {
			.bt-cover-image img {
				transform: scale(1);
				transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
			}

			&:hover {
				.bt-cover-image img {
					transform: scale(1.1);
				}
			}
		}
	}

	.bt-pricing-item {
		.bt-cover-image img {
			transform: scale(1);
			transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
		}

		&:hover {
			.bt-cover-image img {
				transform: scale(1.1);
			}
		}
	}
}

.bt-effect-overflow {
	overflow-x: clip !important;
}

@keyframes effectMoveHorizontal {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	50% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@keyframes effectMoveHorizontalCenter {
	0% {
		-webkit-transform: translateX(-50%) translateZ(0);
		transform: translateX(-50%) translateZ(0);
	}

	50% {
		-webkit-transform: translateX(-50%) translate3d(-10px, 0, 0);
		transform: translateX(-50%) translate3d(-10px, 0, 0);
	}

	100% {
		-webkit-transform: translateX(-50%) translateZ(0);
		transform: translateX(-50%) translateZ(0);
	}
}

.bt-effect-move-horizontal {
	animation: effectMoveHorizontal 2s linear infinite;
}

.bt-effect-move-horizontal-center {
	animation: effectMoveHorizontalCenter 2s linear infinite;
}

@keyframes effectVibrateImages {
	0% {
		transform: translateY(8px);
	}

	50% {
		transform: translateY(4px);
	}

	100% {
		transform: translateY(8px);
	}
}

@keyframes effectVibrateImagesSink {
	100% {
		transform: translateY(8px);
	}
}

.bt-images-vibrate-effect {
	img {
		animation-name: effectVibrateImagesSink, effectVibrateImages;
		animation-duration: 0.3s, 1.5s;
		animation-delay: 0s, 0.3s;
		animation-timing-function: ease-out, ease-in-out;
		animation-iteration-count: 1, infinite;
		animation-fill-mode: forwards;
	}
}

@-webkit-keyframes effectPlayButton {
	0% {
		-webkit-box-shadow: 0 0 0 0 #fff;
	}

	70% {
		-webkit-box-shadow: 0 0 0 30px transparent;
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 transparent;
	}
}

@keyframes effectPlayButton {
	0% {
		box-shadow: 0 0 0 0 #fff;
	}

	70% {
		box-shadow: 0 0 0 30px transparent;
	}

	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}

@-webkit-keyframes effectPlayButton2 {
	0% {
		-webkit-box-shadow: 0 0 0 0 $color-accent;
	}

	70% {
		-webkit-box-shadow: 0 0 0 30px transparent;
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 transparent;
	}
}

@keyframes effectPlayButton2 {
	0% {
		box-shadow: 0 0 0 0 $color-accent;
	}

	70% {
		box-shadow: 0 0 0 30px transparent;
	}

	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}

.bt-play-btn-effect {
	.elementor-icon-box-icon {
		-webkit-animation: effectPlayButton 2s infinite;
		animation: effectPlayButton 2s infinite;
		border-radius: 50%;

		> a {
			display: block;
		}
	}
	&.elementor-widget-icon {
		.elementor-icon {
			-webkit-animation: effectPlayButton2 2s infinite;
			animation: effectPlayButton2 2s infinite;
			border-radius: 50%;
		}
	}
}

.bt-play-btn-effect2 {
	.elementor-icon-box-icon {
		-webkit-animation: effectPlayButton2 2s infinite;
		animation: effectPlayButton2 2s infinite;
		border-radius: 50%;

		> a {
			display: block;
		}
	}
	&.elementor-widget-icon {
		.elementor-icon {
			-webkit-animation: effectPlayButton2 2s infinite;
			animation: effectPlayButton2 2s infinite;
			border-radius: 50%;
		}
	}
}

@keyframes effectMoveX {
	from {
		transform: translateX(-2px);
	}

	to {
		transform: translateX(2px);
	}
}

@keyframes effectmoveY {
	from {
		transform: translateY(-2px);
	}

	to {
		transform: translateY(2px);
	}
}

@keyframes effectDeformY {
	0% {
		transform: none;
	}

	25% {
		transform: scaleY(1.05) skewY(2deg);
	}

	50% {
		transform: none;
	}

	75% {
		transform: scaleY(1.05) skewY(-2deg);
	}

	100% {
		transform: none;
	}
}

/* Animation for bubbles rising */
@keyframes effectBubbleRise {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	70% {
		opacity: 0.8;
	}
	100% {
		transform: translateY(-640px);
		opacity: 0;
	}
}

@keyframes effectBubbleSideWays {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 100px;
	}
}
.bt-animation-bubble-number {
	.elementor-widget-container {
		position: relative;
		animation-name: effectMoveX;
		animation-duration: 5s;
		animation-timing-function: ease-in-out;
		animation-direction: alternate;
		animation-iteration-count: infinite;

		&:before {
			content: "";
			width: 160px;
			height: 146px;
			background-image: url("../images/img-bubble-num.svg");
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			left: calc(50% - 80px);
			transform: translateX(-50%);
			top: 0;
			animation-name: effectDeformY;
			animation-duration: 3s;
			animation-timing-function: ease-in-out;
			animation-direction: alternate;
			animation-iteration-count: infinite;
		}
	}
}
.bt-animation-bubble-number-style2 {
	.elementor-widget-container {
		position: relative;
		animation-name: effectMoveX;
		animation-duration: 5s;
		animation-timing-function: ease-in-out;
		animation-direction: alternate;
		animation-iteration-count: infinite;

		&:before {
			content: "";
			width: 160px;
			height: 146px;
			background-image: url("../images/img-bubble-num-02.png");
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			left: calc(50% - 80px);
			transform: translateX(-50%);
			top: 0;
			animation-name: effectDeformY;
			animation-duration: 3s;
			animation-timing-function: ease-in-out;
			animation-direction: alternate;
			animation-iteration-count: infinite;
		}
	}
}
.bt-animation-bubble-images {
	animation-name: effectDeformY;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
.bt-animation-bubble-background {
	z-index: 1 !important;
	&:after {
		content: "";
		width: calc(100% + 151px);
		height: calc(100% + 170px);
		background-image: url(../images/img-bubble-bg.png);
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		left: -116px;
		top: -40px;
		animation-name: effectDeformY;
		animation-duration: 3s;
		animation-timing-function: ease-in-out;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		z-index: -1;
		@media (max-width: $break-sm) {
			left: -70px;
			top: -50px;
		}
	}
}
@keyframes bubble {
	from {
		transform: rotate(0) scale(1);
	}
	50% {
		transform: rotate(-20deg) scale(1.05);
	}
	to {
		transform: rotate(40deg) scale(0.95);
	}
}
.bt-animation-bubble-images-style1 {
	transform: rotate(0) scale(1);
	animation: bubble 6s ease-in-out 3s infinite alternate;
}

@keyframes effectBubbleRiseButton {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	70% {
		opacity: 0.8;
	}
	100% {
		transform: translateY(-100px);
		opacity: 0;
	}
}

@keyframes effectBubbleSideWaysButton {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 30px;
	}
}
.bubble-container {
	position: relative;
	.bubble {
		position: absolute;
		bottom: -200px;
		width: 200px;
		animation:
			effectBubbleRise 10s linear infinite,
			effectBubbleSideWays 3s ease-in-out infinite alternate;
		&.small {
			width: 100px;
		}
		&.medium {
			width: 150px;
		}
		&.large {
			width: 200px;
		}
		/* Randomization: animate bubbles at different speeds and from different positions */
		&:nth-of-type(1) {
			left: 0%;
			animation-duration: 13s;
		}
		&:nth-of-type(2) {
			left: 10%;
			animation-duration: 8s;
		}
		&:nth-of-type(3) {
			left: 20%;
			animation-duration: 10s;
		}
		&:nth-of-type(4) {
			left: 30%;
			animation-duration: 14s;
		}
		&:nth-of-type(5) {
			left: 40%;
			animation-duration: 6s;
		}
		&:nth-of-type(6) {
			left: 50%;
			animation-duration: 12s;
		}
		&:nth-of-type(7) {
			left: 60%;
			animation-duration: 15s;
		}
		&:nth-of-type(8) {
			left: 70%;
			animation-duration: 9s;
		}
		&:nth-of-type(9) {
			left: 80%;
			animation-duration: 11s;
		}
		&:nth-of-type(10) {
			left: 90%;
			animation-duration: 7s;
		}
	}
}
@keyframes effectcCleaningSwipe {
	0% {
		left: -50px;
		opacity: 1;
		transform: rotate(-30deg);
	}
	50% {
		opacity: 1;
	}
	100% {
		left: 130%;
		opacity: 0;
		transform: rotate(30deg);
	}
}
.bt-button-hover {
	.elementor-button,
	.bt-button {
		position: relative;
		overflow: hidden;
		display: inline-flex;
		&::before {
			position: absolute;
			bottom: -30px;
			width: 30px;
			content: "";
			height: 30px;
			background-image: url("../images/img-bubble-white.png");
			background-size: contain;
			background-repeat: no-repeat;
			left: 10%;
		}
		&::after {
			position: absolute;
			bottom: -30px;
			width: 15px;
			content: "";
			height: 15px;
			background-image: url("../images/img-bubble-white.png");
			background-size: contain;
			background-repeat: no-repeat;

			left: 40%;
		}
		.elementor-button-content-wrapper,
		.bt-heading {
			&::before {
				position: absolute;
				bottom: -30px;
				width: 30px;
				content: "";
				height: 30px;
				background-image: url("../images/img-bubble-white.png");
				background-size: contain;
				background-repeat: no-repeat;
				left: 50%;
			}
			&::after {
				content: "";
				position: absolute;
				width: 55px;
				height: 55px;
				background: url("../images/icon-clean.png") no-repeat center / contain;
				bottom: -10px;
				left: -50px;
				transform: translateY(0) rotate(-30deg);
				z-index: 1;
				opacity: 0;
			}
		}
		&:hover {
			box-shadow: 0px 4px 50px 0 rgba(0, 0, 0, 0.1);
			&::before,
			&::after {
				animation:
					effectBubbleRiseButton 5s linear infinite,
					effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
			}
			&::before {
				animation-duration: 6s;
			}
			&::after {
				animation-duration: 3s;
			}
			.elementor-button-content-wrapper,
			.bt-heading {
				&::before {
					animation:
						effectBubbleRiseButton 5s linear infinite,
						effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
				}
				&::before {
					animation-duration: 4s;
				}
				&::after {
					animation: effectcCleaningSwipe 2.7s cubic-bezier(0.11, 0.52, 0.53, 0.79) forwards;
				}
			}
		}
	}
}
.bt-button-hover-secondary {
	.elementor-button,
	.bt-button {
		position: relative;
		overflow: hidden;
		display: inline-flex;
		&::before {
			position: absolute;
			bottom: -30px;
			width: 30px;
			content: "";
			height: 30px;
			background-image: url("../images/img-bubble-blue.png");
			background-size: contain;
			background-repeat: no-repeat;
			left: 10%;
		}
		&::after {
			position: absolute;
			bottom: -30px;
			width: 15px;
			content: "";
			height: 15px;
			background-image: url("../images/img-bubble-blue.png");
			background-size: contain;
			background-repeat: no-repeat;

			left: 40%;
		}
		.elementor-button-content-wrapper,
		.bt-heading {
			&::before {
				position: absolute;
				bottom: -30px;
				width: 30px;
				content: "";
				height: 30px;
				background-image: url("../images/img-bubble-blue.png");
				background-size: contain;
				background-repeat: no-repeat;
				left: 50%;
			}
			&::after {
				content: "";
				position: absolute;
				width: 55px;
				height: 55px;
				background: url("../images/icon-clean.png") no-repeat center / contain;
				bottom: -10px;
				left: -50px;
				transform: translateY(0) rotate(-30deg);
				z-index: 1;
				opacity: 0;
			}
		}
		&:hover {
			box-shadow: 0px 4px 50px 0 rgba(0, 0, 0, 0.1);
			&::before,
			&::after {
				animation:
					effectBubbleRiseButton 5s linear infinite,
					effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
			}
			&::before {
				animation-duration: 6s;
			}
			&::after {
				animation-duration: 3s;
			}
			.elementor-button-content-wrapper,
			.bt-heading {
				&::before {
					animation:
						effectBubbleRiseButton 5s linear infinite,
						effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
				}
				&::before {
					animation-duration: 4s;
				}
				&::after {
					animation: effectcCleaningSwipe 2.7s cubic-bezier(0.11, 0.52, 0.53, 0.79) forwards;
				}
			}
		}
	}
}

.bt-button-slider {
	a {
		position: relative;
		overflow: hidden;
		display: inline-flex;
		&::before {
			position: absolute;
			bottom: -30px;
			width: 30px;
			content: "";
			height: 30px;
			background-image: url("../images/img-bubble-white.png");
			background-size: contain;
			background-repeat: no-repeat;
			left: 10%;
			display: block !important;
		}
		&::after {
			position: absolute;
			bottom: -30px;
			width: 15px;
			content: "";
			height: 15px;
			background-image: url("../images/img-bubble-white.png");
			background-size: contain;
			background-repeat: no-repeat;
			display: block !important;
			left: 40%;
		}
		> div {
			&::before {
				position: absolute;
				bottom: -30px;
				width: 30px;
				content: "";
				height: 30px;
				background-image: url("../images/img-bubble-white.png");
				background-size: contain;
				background-repeat: no-repeat;
				left: 50%;
			}
			&::after {
				content: "";
				position: absolute;
				width: 55px;
				height: 55px;
				background: url("../images/icon-clean.png") no-repeat center / contain;
				bottom: -10px;
				left: -50px;
				transform: translateY(0) rotate(-30deg);
				z-index: 1;
				opacity: 0;
			}
		}
		&:hover {
			box-shadow: 0px 4px 50px 0 rgba(0, 0, 0, 0.1);
			&::before,
			&::after {
				animation:
					effectBubbleRiseButton 5s linear infinite,
					effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
			}
			&::before {
				animation-duration: 6s;
			}
			&::after {
				animation-duration: 3s;
			}
			> div {
				&::before {
					animation:
						effectBubbleRiseButton 5s linear infinite,
						effectBubbleSideWaysButton 2s ease-in-out infinite alternate;
				}
				&::before {
					animation-duration: 4s;
				}
				&::after {
					animation: effectcCleaningSwipe 2.7s cubic-bezier(0.11, 0.52, 0.53, 0.79) forwards;
				}
			}
		}
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.elementor-widget-heading {
	&.bt-fade-animation {
		animation-name: none !important;
		animation-duration: inherit !important;
	}
}
.bt-word {
	display: inline-block;
}

.bt-letter {
	display: inline-block;
	opacity: 0;
	transform: translateX(50px);
	animation: fadeInRight 0.5s ease forwards;
}
.bt-animation-left {
	.bt-letter {
		animation: fadeInLeft 0.5s ease forwards;
	}
}
.bt-animation-up {
	.bt-letter {
		animation: fadeInUp 0.5s ease forwards;
	}
}
.bt-animation-down {
	.bt-letter {
		animation: fadeInDown 0.5s ease forwards;
	}
}