.bt-site-footer {
  color: $color-text;
  background: $color-secondary;
  padding: 30px 0;
  .bt-copyright a {
    color: $color-accent;
  }
}

.elementor-element {
  &.bt-site-footer-main {
    > .e-con-inner {
      > .elementor-element {
        .bt-google-maps {
          a {
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            display: flex;
          }
        }
        .bt-elwg-site-social{
          gap: 8px;
          a{
            border: 1px solid #A2A3AB;
            &:hover{
              border-color: $color-secondary;
            }
          }
        }
      }
    }
  }
}
