.__bt-heading-style {
    @media (min-width: 1200px) and (max-width: 1439.98px) {
        font-size: 55px;
    }

    @media (min-width: 1025px) and (max-width: 1199.98px) {
        font-size: 45px;
    }
}

.__bt-pd-container-full-width {
    > .elementor-element {
        &:first-child {
            @media (min-width: 1450px) {
                padding-left: calc((100% - var(--container-max-width)) / 2);
            }
        }

        &:last-child {
            @media (min-width: 1450px) {
                padding-right: calc((100% - var(--container-max-width)) / 2);
            }
        }
    }
}

.elementor-element {
    &.elementor-grid-4 {
        .elementor-loop-container {
            &.elementor-grid {
                @media (max-width: $break-lg) and (min-width: $break-tl) {
                    grid-column-gap: 15px;
                    .bt-post {
                        &--job {
                            left: 25px;
                        }
                        &--title {
                            font-size: 24px;
                        }
                        &--description {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    &.bt-text-view-more {
        a {
            color: $color-accent;
            text-decoration: underline;
        }
    }
    &.bt-section-about {
        > .e-con-inner {
            > .elementor-element {
                .elementor-icon-list-items {
                    display: flex;
                    gap: 12px 20px;
                    flex-wrap: wrap;
                }
                @media (max-width: 450px) {
                    &:last-child {
                        padding-left: 50px;
                        > .elementor-element {
                            > .elementor-element {
                                &:nth-child(2) {
                                    left: -15px;
                                    img {
                                        max-width: 60px;
                                        border-width: 3px;
                                    }
                                }
                                &:nth-child(3) {
                                    left: -52px;
                                    img {
                                        max-width: 65px;
                                        border-width: 3px;
                                    }
                                }
                                &:nth-child(4) {
                                    left: -5px;
                                    img {
                                        max-width: 70px;
                                        border-width: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.bt-section-choose-us{
        .elementor-icon-box-wrapper{
            .elementor-icon-box-icon{
                svg{
                    max-height: 80px;
                }
            }
        }
    }
}
