.bt-site-titlebar {
  position: relative;
  padding: 110px 0;
  .bt-background-img {
    display: flex;
    position: absolute;
    z-index: -1;
    top: 0;
  }
  .bt-page-titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &--breadcrumb {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      font-size: 14px;
      line-height: 160%;
      color: $color-primary;
      .bt-deli {
        display: flex;
      }
      .current {
        opacity: 0.5;
      }
    }
    &--title {
      margin: 12px 0 0;
    }
  }
  &.bubble-container {
    overflow: hidden;
    .bubble {
      bottom: -250px; /* Start below the container */
      &:nth-of-type(1) {
        left: 0%;
        animation-duration: 30s;
      }
      &:nth-of-type(2) {
        left: 10%;
        animation-duration: 15s;
      }
      &:nth-of-type(3) {
        left: 20%;
        animation-duration: 25s;
      }
      &:nth-of-type(4) {
        left: 60%;
        animation-duration: 28s;
      }
      &:nth-of-type(5) {
        left: 70%;
        animation-duration: 18s;
      }
      &:nth-of-type(6) {
        left: 90%;
        animation-duration: 22s;
      }
    }
  }
  @media only screen and (max-width:1440px) {
    .bt-background-img {
      top: unset;
      bottom: 0;
      left: -200px;
    }
    .bt-page-titlebar{
      &--title {
        font-size: 44px;
      }
    }
  }
  @media only screen and (max-width:1024px) {
    padding: 80px 0;
    .bt-background-img {
      left: -400px;
    }
    .bt-page-titlebar{
      &--title {
        font-size: 36px;
      }
    }
  }
  @media only screen and (max-width:767px) {
    padding: 60px 0;
    .bt-background-img {
      left: -800px;
    }
    .bt-page-titlebar{
      &--title {
        font-size: 30px;
      }
    }
  }
}

